/*
    rojo: #E00200
    azul: #0061C4
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
*{
    outline: none;
    cursor: default;
    margin: 0px;
    padding: 0px;
    transition: all 0.5s;
    -webkit-user-select: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
.bg-blue{
    background-color: #0061C4;
}
.bg-red{
    background-color: #E00200;
}
.cl-blue{
    color: #0061C4;
}
.cl-red{
    color: #E00200;
}
#nav{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7%;
    overflow: hidden;
    left: 0%;
    top: 0%;
    background-color: #0061C4;
    z-index: 1000;
}
#nav > a{
    text-decoration: none;
    padding: 15px;
    color: white;
    font-size: 17px;
}
#nav > a:hover{
    cursor: pointer;
    background-color: #ebebeb;
    color: #0061C4;
}
#nav > a.activate{
    cursor: default;
    background-color: #ebebeb;
    color: #0061C4;
}
#body{
    position: fixed;
    width: 100%;
    height: 93%;
    left: 0%;
    top: 7%;
    background-color: rgba(0,0,0,0);
    overflow-y: scroll;
}
#body::-webkit-scrollbar{
    width: 0px;
}
body{
    background-color: #ebebeb;
}
.body_unsee{
    opacity: 0;
}
.body_see{
    opacity: 1;
}
.section_body{
    padding: 20px;
}
hr{
    box-shadow: 0px 0px 10px #0061C4;
    border: none;
    display: block;
    margin-left: 10%;
    width: 80%;
    background-color: #0061C4;
    height: 1px;
    margin-top: 25px;
    margin-bottom: 25px;
}
#background_img{
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: -500;
    opacity: 0.15;
}